#root {
  width: 100%;
  height: 100%;
}

 input[type="password"]::-ms-reveal,
 input[type="password"]::-webkit-contacts-auto-fill-button,
 input[type="password"]::-webkit-credentials-auto-fill-button,
 input[type="password"]::-webkit-inner-spin-button,
 input[type="password"]::-webkit-outer-spin-button {
   display: none;
 }
